

body {
  background-color: #461B7E;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fefee1;
  padding: 30px;
  overflow: auto; /*clear-fix hack*/
}


* {
  box-sizing: border-box; /*box-sizing hack*/
}

@media(min-width: 500px) {
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fefee1;
  padding: 30px;
  overflow: auto; /*clear-fix hack*/
}

.left-column {
  float: left;
  width: 66%;
  overflow: auto; /*clear-fix hack*/
  padding-top: 35px;
  padding-right: 20px;

}

.right-column {
  float: right;
  width: 33%;
  padding-top: 35px;
  padding-left: 20px;
}


body {
  background-color: #461B7E;
}


} /*ends the media query*/

a {
  color: #461B7E;

}

h3 {
  font-weight: normal;
  padding-bottom: 2px;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
}

h1, h2, h3 {
  font-family: Georgia;
}

.source {
  border-bottom: solid 5px #E8E8E8;
  padding-bottom: 20px;
}

img {
  max-width: 400px;
  max-height: 300px;
  align-items: center;
}
